.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
  background-color: white;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.section {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}
.cardImage {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.section {
  margin-top: 16px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
